config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ default | caps: 100

+ start nic | ld: no | ram: 4M
  + binary linux_slirp_nic
  + route | + any-service | + parent
  + config
    + tcp_forward | port: 5555  | to_port: 80    | . lighttpd
    + tcp_forward | port: 5556  | to_port: 443   | . lighttpd
    + tcp_forward | port: 10080 | to_port: 80    | . netty
    + tcp_forward | port: 18080 | to_port: 8080  | . netty
    + udp_forward | port: 10007 | to_port: 7     | . netty
    + udp_forward | port: 17070 | to_port: 7070  | . netty
    + tcp_forward | port: 15555 | to_port: 5555  | . socat
    + tcp_forward | port:  8888 | to_port: 8888  | . tcp_terminal
    + tcp_forward | port: 12865 | to_port: 12865 | . netperf
    + tcp_forward | port: 18040 | to_port: 18040 | . netperf
    + tcp_forward | port: 18060 | to_port: 18060 | . netperf
    + udp_forward | port: 18040 | to_port: 18040 | . netperf
    + udp_forward | port: 18060 | to_port: 18060 | . netperf
-
